services:
  etc-redis:
    container_name: redis-cache
    image: redis:7.4.3-alpine3.21
    ports:
      - 6379:6379
    command: ["redis-server", "--requirepass", "password"]
    networks:
      - todolist

  etc-postgres:
    container_name: pg-database
    image: postgres:17-alpine
    shm_size: 128mb
    volumes:
      - todolist-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - 5432:5432
    networks:
      - todolist
    develop:
      

  backend:
    container_name: "todolist-backend"
    image: nestjs-todolist:dev
    build:
      context: .
      dockerfile: Dockerfile.local
    env_file:
      - .env
    environment:
      ENVIRONMENT: ${ENVIRONMENT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
      JWT_AGE: ${JWT_AGE}
      PORT: ${PORT}
    
    ports:
      - 3000:3000
    networks:
      - todolist
    
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules
        - action: rebuild
          path: package.json

networks:
  todolist:
    external: True
    driver: bridge

volumes:
  todolist-data:
    name: "todolist"

# prod image test
# docker build -t nestjs-todolist:prod .
# docker run --rm -p 3000:3000 --network todolist nestjs-todolist:prod